$base-color: blueviolet;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 40px auto;
}
p{
    color:$base-color;
    font-weight: 700;
    margin: 7px; 
}
span{
    color:$base-color;
}

.btn-primary{
    background-color: $base-color;
    padding: 12px;
    border-radius: 12%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}


@import '~bootstrap/scss/bootstrap'