<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Sentiment Extractor</title>
</head>


<body>
  <main>
    <div class="fixed-bottom" >Remaining URL Checks: <span id="remaining_credits"></span></div>

    <div class="container centered">

      <p class="card-text-center">Enter a URL of an article / a blog to discover its sentiment.</p>

      <form id="form" onsubmit="return Client.handleFormSubmission();">

        <div class="input-group">
          <span class="input-group-text ml-2" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control ml-2" id="url_to_analyze">

          <button id="submit" type="submit" class="btn btn-primary ml-2"> Submit</button>

        </div>
      </form>



      <p class="card-text-center mt-2">Form Results:</p>
      <ul class="list-group">
       

        <li class="list-group-item">
          <div>Model: <span id="model"></span></div>
        </li>
        <li class="list-group-item">
          <div>Agreement: <span id="agreement"></span></div>
        </li>
        <li class="list-group-item">
          <div>Subjectivity: <span id="subjectivity"></span></div>
        </li>
        <li class="list-group-item">
          <div>Confidence: <span id="confidence"></span></div>
        </li>
        <li class="list-group-item">
          <div>Irony: <span id="irony"></span></div>
        </li>
        <li class="list-group-item">
          <div>Score tag: <span id="score_tag"></span></div>
        </li>
       


        <li class="list-group-item">
          <div>Text: <span id="text"></span></div>
        </li>
      </ul>
    </div>
  </main>
  <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
  <!-- <script type="text/javascript" src="/src/client/index.js"></script> -->

  <!-- </script> -->
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
</body>

</html>