<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Sentiment Analyzer</title>
</head>


<body>
  <main>

    <div class="container centered">

      <p class="card-text-center">Enter a URL of an article / a blog to discover its sentiment.</p>

      <form id="form" onsubmit="return handleSubmit();">

        <div class="input-group">
          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control" id="basic-url">
          <button id="submit" type="submit" class="btn btn-primary"> Submit</button>
        </div>

      </form>



      <p class="card-text-center">Form Results:</p>
      <ul class="list-group">
        <li class="list-group-item">
          <div>Text: <span id="text"></span></div>
        </li>
        <li class="list-group-item">
          <div>Agreement: <span id="agreement"></span></div>
        </li>
        <li class="list-group-item">
          <div>Subjectivity: <span id="subjectivity"></span></div>
        </li>
        <li class="list-group-item">
          <div>Confidence: <span id="confidence"></span></div>
        </li>
        <li class="list-group-item">
          <div>Irony: <span id="irony"></span></div>
        </li>
        <li class="list-group-item">
          <div>Score tag: <span id="score_tag"></span></div>
        </li>
      </ul>


    </div>


  </main>
  <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
  <script type="text/javascript" src="/src/client/index.js"></script>

  </script>
</body>

</html>